**/node_modules
**/npm-debug.log

**/.git*
**/.prettierignore
**/.prettierrc
**/.npm
**/.eslintrc.js
**/.gitignore

**/build

**/.vscode
**/.cache*
**/.docker
**/.node*

Dockerfile
.dockerignore
docker-compose.yml

**/test
