**/node_modules
**/npm-debug.log

**/.git*
**/.prettierignore
**/.prettierrc
**/.npm
**/.eslintrc.js
**/.gitignore

**/build
**/dist

**/.vscode
**/.cache*
**/.docker
**/.node*

Dockerfile
.dockerignore
docker-compose.yml

**/test

mysql-data
mysql-test.sql
graphql-test.gpl
*.graphql
